*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
.project
.ruby-version
# Yarn PnP - track cache and unplugged for zero-installs portability
.yarn/*
!.yarn/cache
!.yarn/unplugged
