name: Tests (HEAD)
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', 'ruby-head', 'jruby-head']
        rails: ['edge']
        grape-swagger: ['HEAD']
    env:
      GRAPE_SWAGGER_VERSION: ${{ matrix.grape-swagger }}
      RAILS_VERSION: ${{ matrix.rails }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Print Bundler Versions
        run: bundle show
      - name: Setup Firefox
        uses: browser-actions/setup-firefox@v1
        with:
          firefox-version: "130.0"
      - uses: browser-actions/setup-geckodriver@latest
        with:
          geckodriver-version: "0.35.0"
      - name: Run tests
        uses: coactions/setup-xvfb@v1
        with:
          run: bundle exec rake spec
