name: Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.1', '3.2', '3.3', '3.4', 'jruby']
        rails: ['7.2.2.2', '8.0.2.1']
        grape-swagger: ['1.6.1', '2.1.2']
        exclude:
          - { ruby: '3.1', rails: '8.0.2.1' } # Rails 8 requires Ruby >= 3.2
    env:
      GRAPE_SWAGGER_VERSION: ${{ matrix.grape-swagger }}
      RAILS_VERSION: ${{ matrix.rails }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Print Bundler Versions
        run: bundle show
      - name: Setup Firefox
        uses: browser-actions/setup-firefox@v1
        with:
          firefox-version: "130.0"
      - uses: browser-actions/setup-geckodriver@latest
        with:
          geckodriver-version: "0.35.0"
      - name: Run tests with Sprockets
        uses: coactions/setup-xvfb@v1
        env:
          ASSET_PIPELINE: sprockets
        with:
          run: bundle exec rake spec
      - name: Run tests with Propshaft
        uses: coactions/setup-xvfb@v1
        env:
          ASSET_PIPELINE: propshaft
        with:
          run: bundle exec rake spec
