name: Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        entry:
          - { ruby: "2.7", grape-swagger: "1.6.1" }
          - { ruby: "3.0", grape-swagger: "1.6.1" }
          - { ruby: "3.1", grape-swagger: "1.6.1" }
          - { ruby: "3.2", grape-swagger: "1.6.1" }
          - { ruby: "3.2", grape-swagger: "2.0.2" }
          - { ruby: "3.3", grape-swagger: "2.0.2" }
          - { ruby: "jruby-9.4.6", grape-swagger: "1.6.1" }
          - { ruby: "jruby-9.4.6", grape-swagger: "2.0.2" }
    env:
      GRAPE_SWAGGER_VERSION: ${{ matrix.entry.grape-swagger }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.entry.ruby }}
          bundler-cache: true
      - name: Setup Firefox
        uses: browser-actions/setup-firefox@v1
        with:
          firefox-version: "111.0.1"
      - uses: browser-actions/setup-geckodriver@latest
        with:
          geckodriver-version: "0.32.2"
      - uses: coactions/setup-xvfb@v1
        with:
          run: bundle exec rake spec
